<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clinica Veterinaria</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/official.css') }}">
</head>
<nav>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a id="LoginButton" href='index.html'>
               <img src="{{ url_for('static', filename='/imgs/home.png') }}" width="40px" height="40px">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="officialOwner-tab" data-toggle="tab" href="#officialOwner" role="tab"
               aria-controls="officialOwner" aria-selected="true">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="officialPet-tab" data-toggle="tab" href="#officialPet" role="tab"
               aria-controls="officialPet" aria-selected="false">Mascotas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="officialCase-tab" data-toggle="tab" href="#officialCase" role="tab"
               aria-controls="officialCase" aria-selected="false">Registros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="officialVisit-tab" data-toggle="tab" href="#officialVisit" role="tab"
               aria-controls="officialVisit" aria-selected="false">Facturas </a>
        </li>
    </ul>
</nav>
<body class="officialBack">

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="officialOwner" role="tabpanel" aria-labelledby="officialOwner-tab"
         align="center">
        <div class="configureStyleMainBox">
            <h3 class="titles">Tabla de Usuarios</h3>
            <!--Table that shows the owners in the official-->
            <table id="myTableOfficialOwners" class="table table-fluid">
                <thead>
                <tr>
                    <th >Rol</th>
                    <th >Cantidad de usuarios</th>
                </tr>
                </thead>
                <tbody>

                {% for user in user %}
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div class="tab-pane fade" id="officialPet" role="tabpanel" aria-labelledby="officialPet-tab" align="center">
        <div class="configureStyleMainBox">
            <h3 class="titles">Mascotas por Propetario</h3>
            <!--Table that shows the pets in the official-->
            <table id="myTableOfficialPets" class="table table-fluid">
                <thead>
                <tr>
                    <th >Usuario de Propietario</th>
                    <th>Cantidad de Mascotas</th>

                </tr>
                </thead>
                <tbody>
                {% for masc in masc %}
                <tr>
                    <td>{{masc[0]}}</td>
                    <td>{{masc[1]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade" id="officialCase" role="tabpanel" aria-labelledby="officialPet-tab" align="center">
        <div class="configureStyleMainBox">
            <h3 class="titles">Tabla de Registros por Veterinarios</h3>
            <!--Table that shows the pets in the official-->
            <table id="myTableOfficialCases" class="table table-fluid">
                <thead>
                <tr>
                    <th >Usuario Veterinario</th>
                    <th >Cantidad Registros</th>
                </tr>
                </thead>
                <tbody>
                {% for vres in vres %}
                <tr>
                    <td>{{vres[0]}}</td>
                    <td>{{vres[1]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="officialVisit" role="tabpanel" aria-labelledby="officialPet-tab" align="center">
        <div class="configureStyleMainBox">
            <h3 class="titles">Tabla de Facturas</h3>
            <!--Table that shows the pets in the official-->
            <table id="myTableOfficialVisits" class="table table-fluid">
                <thead>
                <tr>
                    <th >Cantidad de Facturas</th>
                    <th > Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for fact in fact %}
                <tr>
                    <td>{{fact[0]}}</td>
                    <td>{{fact[1]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
</body>
</html>