<html>

<head>
    <title>Clinica Veterinaria</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/owner.css') }}">
</head>
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
<nav>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a id="LoginButton" href='index.html'>
                <img src="{{ url_for('static', filename='./imgs/home.png') }}" width="40px" height="40px">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab"
               aria-controls="register" aria-selected="true">Registrar Mascota</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab" aria-controls="update"
               aria-selected="false">Facturas </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="detalle-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="detalle"
               aria-selected="false">Detalle de factura </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pago-tab" data-toggle="tab" href="#pago" role="tab" aria-controls="pago"
               aria-selected="false">Pago de factura </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="find-tab" data-toggle="tab" href="#find" role="tab" aria-controls="find"
               aria-selected="false">Tabla de Mascotas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Upuser-tab" data-toggle="tab" href="#Upuser" role="tab" aria-controls="Upuser"
               aria-selected="false">Cambiar datos de propietario</a>
        </li>
    </ul>
</nav>

<body class="ownerBack">

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab" align="center">

        <div class="configureStyleMainForms">

            <!--Form for creation of owner's pet-->
            <form action="/propietario.html" method="POST" autocomplete="on" id="formC" name="formC">
                <fieldset>
                    <legend> Formulario de Registro de mascotas</legend>
                    <label for="username">Nombre usuario</label><br>
                    {% if QTc_result %}
                    <input type="text" name="username" id="username" value="{{QTc_result}}"
                           readonly="readonly" required>
                    {% endif %}
                    <br>
                    <br>
                    <label for="name">Ingrese su nombre de la mascota:</label><br>
                    <input type="text" name="name" size="30" id="name" placeholder="Ej: Sammy" required>
                    <br>
                    <br>
                    <label for="species">Seleccione la especie:</label><br>
                    <select name="species" id="species" required>
                        <option value="" selected="selected">Seleccione</option>
                        <option value="Canino">Canino</option>
                        <option value="Felino">Felino</option>
                    </select>
                    <br>
                    <br>
                    <label for="raza">Ingrese la raza:</label><br>
                    <input type="text" name="raza" size="30" id="raza" placeholder="Ej: Pastor Aleman" required>
                    <br>
                    <br>
                    <label for="peso">Ingrese el peso (Kg):</label><br>
                    <input type="number" name="peso" maxlength="2" id="peso" placeholder="Ej: 10" required>
                    <br>
                    <br>
                    <label for="color">Ingrese el color de pelaje de su mascota:</label><br>
                    <input type="text" name="color" maxlength="25" id="color" placeholder="Ej: Blanco " required>
                    <br>
                    <br>
                    <label for="fecha">Ingrese la fecha de nacimiento:</label><br>
                    <input type="date" name="fecha" id="fecha" required>
                    <br>
                    <br>
                    <p align="center">
                        <button type="submit" id="Cpets">Crear mascota</button>
                    </p>
                </fieldset>
            </form>

        </div>
    </div>
    <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update-tab" align="center">
        <div class="configureStyleMainForms">

            <h2 class="titles">Facturas del Propietario</h2>
            <table id="facturas" class="display" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">N# de factura</th>
                    <th scope="col">ID de mascota</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                    <th scope="col">Ver detalle</th>
                    <th scope="col">Pagar</th>
                </tr>

                </thead>
                <tbody>

                {% for factura in factura %}
                <tr>
                    <td>{{factura[0]}}</td>
                    <td>{{factura[1]}}</td>
                    <td>{{factura[2]}}</td>
                    <td>{{factura[3]}}</td>
                    <td>

                        <button type="button" id="1" value="{{factura[0]}}" name='{{factura[2]}}'
                                class='{{factura[3]}}' onclick="botonDetalle()">Ver
                        </button>

                    </td>
                    <td>
                        <button type="button" id="2" value="{{factura[0]}}" name='{{factura[2]}}' class='{{factura[3]}}'
                                onclick="botonPago()">Pagar
                        </button>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
    <div class="tab-pane fade" id="detalle" role="tabpanel" aria-labelledby="detalle-tab" align="center">
        <div class="configureStyleMainForms">
            <form name="detalle1" method="POST" autocomplete="off" id="detalle1">
                <fieldset>
                    <legend> Detalle de factura</legend>
                    <br>
                    <label for="nfactura">N# de factura</label><br>
                    <input type="text" name="nfactura" id="nfactura" readonly="readonly"
                           required>
                    <br>
                    <label for="fechaD">Fecha de factura:</label><br>
                    <input type="date" name="fechaD" id="fechaD" readonly="readonly"
                           required>
                    <br>
                    <br>
                    <label for="total">Total:</label><br>
                    <input type="text" name="total" id="total" readonly="readonly"
                           required>
                    <br>
                    <br>

                </fieldset>
            </form>
            <div id="OwnerTableVisitsCase" align="center">
                <h2 class="titles">Servicios Facturas del Propietario</h2>
                <table id="dfacturas" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th scope="col">Nombre servicio</th>
                        <th scope="col">Tarifa</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for detalle in detalle %}
                    <tr>
                        <td>{{detalle[0]}}</td>
                        <td>{{detalle[1]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pago" role="tabpanel" aria-labelledby="pago-tab" align="center">
        <div class="configureStyleMainForms">
            <h2 class="titles">Pagar facturas del Propietario</h2>
            <form action="/pagar" method="POST" name="pfacturas" autocomplete="off" id="pfactura">
                <fieldset>
                    <legend> Datos para pagar</legend>
                    <br>
                    <label for="usernamep">Nombre usuario</label><br>
                    {% if QTc_result %}
                    <input type="text" name="usernamep" id="usernamep" value="{{QTc_result}}"
                           readonly="readonly" required>
                    {% endif %}
                    <br>
                    <br>
                    <label for="nfactu">Número de la factura:</label><br>
                    <input type="number" name="nfactu" size="30" id="nfactu" readonly="readonly"
                           required>
                    <br>
                    <br>
                    <label for="forma">Seleccione la forma de pago:</label><br>
                    <select name="forma" id="forma" required>
                        <option value="" selected="selected">Seleccione</option>
                        <option value="Efectivo">Efectivo</option>
                        <option value="Tarjetas de crédito">Tarjetas de crédito</option>
                        <option value="Tarjetas de débito">Tarjetas de débito</option>
                    </select>
                    <br>
                    <label for="ptotal">Total a pagar:</label><br>
                    <input type="text" name="ptotal" size="30" id="ptotal" readonly="readonly"
                           required>
                    <br>
                    <br>
                    <p align="center">
                        <button type="submit" id="pagar">Pagar</button>
                    </p>
                </fieldset>
            </form>

        </div>

    </div>
    <div class="tab-pane fade" id="find" role="tabpanel" aria-labelledby="find-tab" align="center">
        <div class="configureStyleMainBox">

            <!-- Table to shows all the vets for an specific owner -->
            <h2 class="titles">Tabla de Mascotas del Propietario</h2>
            <table id="myTableOwner" class="display" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">nombre</th>
                    <th scope="col">especie</th>
                    <th scope="col">raza</th>
                    <th scope="col">color</th>
                    <th scope="col">peso</th>
                    <th scope="col">fecha de nacimiento</th>
                </tr>
                </thead>
                <tbody>

                {% for mascota in mascota %}
                <tr>
                    <td>{{mascota[0]}}</td>
                    <td>{{mascota[1]}}</td>
                    <td>{{mascota[2]}}</td>
                    <td>{{mascota[3]}}</td>
                    <td>{{mascota[4]}}</td>
                    <td>{{mascota[5]}}</td>
                    <td>{{mascota[6]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="Upuser" role="tabpanel" aria-labelledby="Upuser-tab" align="center">
        <div class="configureStyleMainForms">
            <form action="/cambiarDirrecion" method="POST" name="formUser" autocomplete="off" id="formUser">
                <fieldset>
                    <legend> Formulario de Actualizar Datos del Propietario</legend>
                    <br>
                    <label for="username1">Nombre usuario</label><br>
                    {% if QTc_result %}
                    <input type="text" name="username1" id="username1" value="{{QTc_result}}"
                           readonly="readonly" required>
                    {% endif %}
                    <br>
                    <label for="dirección">Digite la dirección:</label><br>
                    <input type="text" name="dirección" size="30" id="dirección" placeholder="Ej: Cr 7 # 100 - 10"
                           required>
                    <br>
                    <br>

                    <p align="center">
                        <button type="submit" id="Uuser">Actualizar datos</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script type=text/javascript>
function botonDetalle(){
    document.getElementById('nfactura').value =document.getElementById('1').value;
    document.getElementById('fechaD').value = document.getElementById('1').name;
    document.getElementById('total').value = document.getElementById('1').className;
    window.location.href = '/detfactura?username={{QTc_result}}&a='+document.getElementById('1').value+'&b='+document.getElementById('1').name+'&c='+document.getElementById('1').className


}
{% if detalle %}
document.getElementById('register-tab').ariaSelected = 'false';
document.getElementById('detalle-tab').ariaSelected = 'true';
document.getElementById('register').className = "tab-pane fade";
document.getElementById('detalle').className = "tab-pane fade show active";
document.getElementById('nfactura').value =document.getElementById('1').value;
document.getElementById('fechaD').value = document.getElementById('1').name;
document.getElementById('total').value = document.getElementById('1').className;

{% endif %}
function botonPago(){
    document.getElementById('nfactu').value =document.getElementById('2').value;
    document.getElementById('ptotal').value = document.getElementById('2').className;
    document.getElementById('update-tab').ariaSelected = 'false';
    document.getElementById('pago-tab').ariaSelected = 'true';
    document.getElementById('update').className = "tab-pane fade";
    document.getElementById('pago').className = "tab-pane fade show active";
}

</script>
</body>

</html>
