<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clinica Veterinaria</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/vet.css') }}">
</head>
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
<nav>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a id="LoginButton" href='index.html'>
                <img src="{{ url_for('static', filename='/imgs/home.png') }}" width="40px" height="40px">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="registerVisit-tab" data-toggle="tab" href="#registerVisit" role="tab"
               aria-controls="registerVisit" aria-selected="true">Crear Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="VisitTablePet-tab" data-toggle="tab" href="#VisitTablePet" role="tab"
               aria-controls="VisitTablePet"
               aria-selected="false">Tabla de Registros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="vfactura-tab" data-toggle="tab" href="#vfactura" role="tab" aria-controls="vfactura"
               aria-selected="false">Generar Factura</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="UpVet-tab" data-toggle="tab" href="#UpVet" role="tab" aria-controls="UpVet"
               aria-selected="false">Cambiar datos de Veterinaria</a>
        </li>
    </ul>
</nav>

<body class="vetBack">

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="registerVisit" role="tabpanel" aria-labelledby="registerVisit-tab"
         align="center">
        <div class="configureStyleMainForms">
            <form action="/registro" method="POST" autocomplete="off" id="formVC" name="formVC">
                <fieldset>
                    <legend> Formulario de Registro Historico</legend>
                    <label for="usernameR">Nombre usuario</label><br>

                    {% if QTc_result %}
                    <input type="text" name="usernameR" id="usernameR" value="{{QTc_result}}"
                           disabled required>
                    {% endif %}
                    <br>
                    <br>
                    <label for="fechaR">Fecha de la visita: </label><br>
                    <input type="date" name="fechaR" id="fechaR" required>
                    <br>
                    <br>
                    <label for="idmascota">Id de Mascota</label><br>
                    <input type="text" name="idmascota" size="30" id="idmascota" placeholder="Ej: 12">
                    <br>
                    <br>
                    <label for="descrip">Descripción de la visita:</label><br>
                    <textarea name="descrip" id="descrip" rows="10"
                              cols="50">Ej: Cita de control de esterilización</textarea>
                    <br>
                    <br>
                    <p align="center">
                        <button type="submit" id="Cpets">Crear Visita</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="tab-pane fade" id="VisitTablePet" role="tabpanel" aria-labelledby="VisitTablePet-tab" align="center">
        <div class="configureStyleMainBox">

            <div class="TableVisit" id="TableVisit">
                <h2 class="titles">Tabla de Registros Historicos de Mascotas</h2>
                <table id="myTablePets" class="table table-fluid">
                    <thead>
                    <tr>
                        <th scope="col">Identificación de la Registo</th>
                        <th scope="col">Fecha del registro</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Id Mascota</th>
                    </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
    <div class="tab-pane fade" id="vfactura" role="tabpanel" aria-labelledby="vfactura-tab" align="center">
        <div class="configureStyleMainBox">

            <form action="/gfactura" name="formUser" autocomplete="off" id="formFactura">
                <fieldset>
                    <legend> Generar Factura Por Registro</legend>
                    <br>
                    <label for="fechaf">Fecha de la factura: </label><br>
                    <input type="date" name="fechaf" id="fechaf" required>
                    <br>
                    <br>
                    <label for="registroID">ID de registro: </label><br>
                    <input type="text" name="registroID" id="registroID" required>
                    <br>
                    <br>
                    <label for="TotalF">Total:</label><br>
                    <input type="text" name="TotalF" id="TotalF" required disabled>
                    <br>
                    <br>
                    <div style="float:center; width: 100%;">
                        <div align="left" style="float:left; width: 50%;">
                            <label for="addressUser">Servicios prestados:</label><br>
                            <input type="checkbox" id="n1" onclick="checkServicios()"> Administración de medicamentos
                            <p></p>
                            <input type="checkbox" id="n2" onclick="checkServicios()"> Vacunas <p></p>
                            <input type="checkbox" id="n3" onclick="checkServicios()"> Baño <p></p>
                            <input type="checkbox" id="n4" onclick="checkServicios()"> Consulta <p></p>
                            <input type="checkbox" id="n5" onclick="checkServicios()"> Hospitalización <p></p>
                            <input type="checkbox" id="n6" onclick="checkServicios()"> Cirugía <p></p>
                            <input type="checkbox" id="n7" onclick="checkServicios()"> Desparasitación inyección <p></p>
                            <input type="checkbox" id="n8" onclick="checkServicios()"> Desparasitación tabletas <p></p>
                            <input type="checkbox" id="n9" onclick="checkServicios()"> Cremación
                        </div>
                        <div align="center" style="float:left; width: 50%;">
                            <label>Tarifa:</label><br>
                            <p>$15.000</p>
                            <p>$20.000</p>
                            <p>$18.000</p>
                            <p>$10.000</p>
                            <p>$18.000</p>
                            <p>$25.000</p>
                            <p>$12.000</p>
                            <p>$9.000</p>
                            <p>$8.000</p>
                        </div>
                    </div>
                    <div>
                        <br>
                        <br>
                        <p align="center">
                            <button type="submit" id="cfactura">Crear Factura</button>
                        </p>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
    <div class="tab-pane fade" id="UpVet" role="tabpanel" aria-labelledby="UpVet-tab" align="center">
        <div class="configureStyleMainForms">

            <form action="/cambiarDirrecion" name="formUser" autocomplete="off" id="formUser">
                <fieldset>
                    <legend> Formulario de Actualizar datos de la Veterinaria</legend>
                    <br>
                    <label for="username">Nombre usuario</label><br>

                    {% if QTc_result %}
                    <input type="text" name="username" id="username" value="{{QTc_result}}"
                           disabled required>
                    {% endif %}
                    <br>
                    <br>
                    <label for="addressUser">Digite la dirección:</label><br>
                    <input type="text" name="addressUser" size="30" id="addressUser"
                           placeholder="Ej: Cr 7 # 100 - 10"
                           required>
                    <br>
                    <br>

                    <p align="center">
                        <button type="button" id="Uuser">Actualizar datos</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
checkServicios()
function checkServicios(){
    var suma=0;
    var cantidad=0;
    if(document.getElementById("n1").checked){
     cantidad=cantidad+1;
     suma=15000+suma;
    }if(document.getElementById("n2").checked){
     suma=20000+suma;
     cantidad=cantidad+1;
    }if(document.getElementById("n3").checked){
     suma=18000+suma;
     cantidad=cantidad+1;
    }if(document.getElementById("n4").checked){
     suma=10000+suma;
     cantidad=cantidad+1;
    }if(document.getElementById("n5").checked){
     suma=18000+suma;
     cantidad=cantidad+1;
    }if(document.getElementById("n6").checked){
     suma=25000+suma;
     cantidad=cantidad+1;
    }if(document.getElementById("n7").checked){
     suma=12000+suma;
     cantidad=cantidad+1;
    }if(document.getElementById("n8").checked){
     suma=9000+suma;
     cantidad=cantidad+1;
    }if(document.getElementById("n9").checked){
     suma=8000+suma;
     cantidad=cantidad+1;
    }else if(suma==0){
    suma="Seleccione los servicios"
    }
    document.getElementById("TotalF").value=suma;
}





</script>
</body>
</html>